html {
    height: 100%;
    width: 100%;
}


body {
    text-align: center;
}



#parallax4 {
    /* The image used */
    background-image: url(imgs/back-1.jpg);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;

}

#parallax5 {
    /* The image used */
    background-image: url(imgs/back-2.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax6 {
    /* The image used */
    background-image: url(imgs/back-3.jpg);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax7 {
    /* The image used */
    background-image: url(imgs/bg-4.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}


.logo-1 {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
    padding-top: 5%;

}


.logo-2 {
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-3 {
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 10%;
    margin-left: 10px;
    margin-right: 10px;
    color: white
}

.logo-4 {
    height: 500px;
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10%;
    margin-top: 50px;
    margin-left: 22%;
    margin-right: 22%;
}


.img {
    height: 40%;
    width: 40%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


.seam {
    height: 40%;
    width: 40%;
    border: 200px;
    border-color: black;
}


.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
}

.loo {
    height: 50px;
    width: 50px;
}

.rounded {
    height: 20%;
    width: 20%;
}

.light {
    height: 30%;
    width: 30%;
}

.btn-1 {
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(top, #f7134e, #37092e);
    background-image: -moz-linear-gradient(top, #f7134e, #37092e);
    background-image: -ms-linear-gradient(top, #f7134e, #37092e);
    background-image: -o-linear-gradient(top, #f7134e, #37092e);
    background-image: linear-gradient(to bottom, #f7134e, #37092e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-1:hover {
    background: white;
    background-image: -webkit-linear-gradient(top, #37092e, #f7134e);
    background-image: -moz-linear-gradient(top, #37092e, #f7134e);
    background-image: -ms-linear-gradient(top, #37092e, #f7134e);
    background-image: -o-linear-gradient(top, #37092e, #f7134e);
    background-image: linear-gradient(to bottom, #37092e, #f7134e);
    text-decoration: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.btn-2 {
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(top, #32d989, #282e46);
    background-image: -moz-linear-gradient(top, #32d989, #282e46);
    background-image: -ms-linear-gradient(top, #32d989, #282e46);
    background-image: -o-linear-gradient(top, #32d989, #282e46);
    background-image: linear-gradient(to bottom, #32d989, #282e46);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-2:hover {
    background: white;
    background-image: -webkit-linear-gradient(top, #282e46, #32d989);
    background-image: -moz-linear-gradient(top, #282e46, #32d989);
    background-image: -ms-linear-gradient(top, #282e46, #32d989);
    background-image: -o-linear-gradient(top, #282e46, #32d989);
    background-image: linear-gradient(to bottom, #282e46, #32d989);
    text-decoration: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.btn-3 {
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(top, #ffad01, #000000);
    background-image: -moz-linear-gradient(top, #ffad01, #000000);
    background-image: -ms-linear-gradient(top, #ffad01, #000000);
    background-image: -o-linear-gradient(top, #ffad01, #000000);
    background-image: linear-gradient(to bottom, #ffad01, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-3:hover {
    background: white;
    background-image: -webkit-linear-gradient(top, #000000, #ffad01);
    background-image: -moz-linear-gradient(top, #000000, #ffad01);
    background-image: -ms-linear-gradient(top, #000000, #ffad01);
    background-image: -o-linear-gradient(top, #000000, #ffad01);
    background-image: linear-gradient(to bottom, #000000, #ffad01);
    text-decoration: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.shopa {
    background: url(imgs/CH1/shoop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    /* or remove it */
}

.shopb {
    background: url(imgs/CH2/shop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    /* or remove it */
}

.texts {
    color: white;
    margin-top: 50%;
    margin-bottom: 10%;
    margin-right: 40%;
}

.textd {
    color: white;
    margin-top: 60%;
    margin-bottom: 30%;
    margin-right: 40%;
    margin-left: 12%;
}

.fonted {
    font-size: 0.6vw;
}

.Asriel {
    margin-right: 25%
}

.dess {
    margin-left: 25%
}

/*
.nav {
    background-color: black;
    border-color: aliceblue;
    color: aliceblue;
}